doctype html
html.overflow-hidden(lang="en")
head
  link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css' rel='stylesheet')
  link(rel='stylesheet' href='//use.fontawesome.com/releases/v5.0.7/css/all.css')
  title httpBin
//
  <div class="flex flex-col h-screen">
  <header class="py-5 bg-gray-700 text-white text-center">
  NavBar
  </header>
// This example requires Tailwind CSS v2.0+
body.overflow-auto
  .flex.flex-col.h-screen
    nav.fixed.w-screen(style='background-color: #21CEAB;')
      .max-w-10xl.mx-auto.px-2.px-8
        .relative.flex.items-center.justify-between.h-16
          .absolute.inset-y-0.left-0.flex.items-center
          .flex-1.flex.items-center.justify-center(class='sm:items-stretch sm:justify-start')
            a.flex-shrink-0.flex.items-center(href="/" class="hover:opacity-80")
              img.block.h-12.w-auto(src="/static/images/logo.png" alt='SamsBin') 
              span.ml-1.text-white.text-4xl.font-large.font-bold #[i httpBin]
          .absolute.inset-y-0.right-0.flex.items-center.pr-2(class='sm:static sm:inset-auto sm:ml-6 sm:pr-0')
            button.bg-gray-800.p-1.rounded-full.text-gray-400(type='button' class='hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white')
              span.sr-only View notifications
              .span12
                a(href='https://github.com/SamGrah/requestbin.git')
                  i.fab.fa-github.fa-2x(style='color: #21CEAB;' class="hover:opacity-80")
    main.mt-16.py-5.flex.justify-center
      block main